<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CAVINSA CATALOGO WEB</title>
		<link href="/assets/pagina/css/bootstrap.min.css" rel="stylesheet">
		<link href="/assets/pagina/css/estilo.css" rel="stylesheet">
		<link href="/assets/pagina/css/fix.css" rel="stylesheet">
		<link href="/assets/pagina/css/camera.css" rel="stylesheet">
		<link href="/assets/pagina/css/owl.theme.css" rel="stylesheet">
		<link href="/assets/pagina/css/owl.carousel.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700,500' rel='stylesheet' type='text/css'>
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="shortcut icon" href="/assets/pagina/img/fav.png">

	</head>
	<body>
		<div class="header_renglon" id="header_renglon">
			<div class="container">
				<div class="row">
					<div class="col-md-2">
						<a class="nav_marca logoCavinsa" href="#"><img src="/assets/pagina/img/logo1.png" alt="logo cavinsa"></a>
					</div>
					<div class="col-md-8 info_contacto">
						<p>
							<span class="num_telefono">
								<i class="fa fa-phone"></i>618 123 456</span>
							<span class="mail-info">
								<i class="fa fa-comments"></i>info@cavinsa.com</span>
						</p>
					</div>
					<div class="col-md-2">
						<ul class="social_media flota_derecho">
							<li>
								<a href="#">
									<i class="fa fa-facebook-square"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-twitter-square"></i>
								</a>
							</li>
							<li>
								<a href="#">
									<i class="fa fa-google-plus-square"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="top_navega">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li>
								<%= link_to "Inicio", :controller => "application" %>
							</li>							
							<li>
								<%= link_to "Catalogo de Productos", :controller => "productos" %>
							</li>						
							<li>
								<%= link_to "Contacto", :controller => "contacto" %>
							</li>							
						</ul>
					</div>
				</div>
			</nav>
		</div>
		<div class="main-wrapper">
			<div class="woo-shop" id="woo-shop">
				<div class="container">
					<div class="row">
						<div class="col-md-12 shop-details">

							<div class="row">
								<div class="col-md-12">
									<h1 class="product-title"><%= @producto[0].nombre %></h1>
								</div>

							</div>
							<div class="row product-summry">
								<div class="col-md-5 product-box">									
									<div class="product-wrap"><img src="<%= @producto[0].foto %>" alt=""></div>									
								</div>
								<div class="col-md-7 summry-details">
									<h2 class="product-title">PRECIO</h2>
									<% if @producto[0].oferta != 0 %>
									<p class="price">
										<span class="price-del">$<%= @producto[0].precio %></span> &nbsp; &nbsp; &nbsp;$<%= @producto[0].oferta %>
									</p>
									<% else %>
										<p class="price">$<%= @producto[0].precio %></p>
									<% end %>
									<div class="product_meta">
										<span class="posted_in">Categoría:
											<a><%= @producto[0].categoria.nombre %></a>											
										</span>
									</div>
								</div>
							</div>
							<div class="row woo-commerce-tabs">
								<div class="col-md-12 st-tabs-second">									
									<div role="tabpanel">										
										
										<ul class="nav nav-tabs" role="tablist">
											<li role="presentation" class="active">
												<a href="#one" aria-controls="home" role="tab" data-toggle="tab">Descripción</a>
											</li>
										</ul>
										<div class="tab-content">
											<div role="tabpanel" class="tab-pane fade in active" id="one">
												<h2><%= @producto[0].nombre %></h2>
												<p><%= @producto[0].descripcion %></p>
											</div>
											<div role="tabpanel" class="tab-pane fade" id="two">
												<h2>Información</h2>
												<table class="shop_attributes">
													<tbody>
														<tr class="">
															<th>Color</th>
															<td>
																<p>Negro, cafe</p>
															</td>
														</tr>
													</tbody>
												</table>
											</div>

										</div>										
									</div>									
								</div>								
							</div>														
						</div>					
					</div>
				</div>
			</div>

		</div>

		<div id="footer" class="footer-section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 tp-ft-about">
						<div class="ft-logo logoCavinsa"><img src="/assets/pagina/img/logoW.png" alt=""></div>
						<div class="address addressFix">
							<ul>
								<li>
									<i class="fa fa-home"></i>Libertad 350<br>
									Zona centro, Durango Mexico</li>
								<li>
									<i class="fa fa-phone"></i>1 618 808 603 6035</li>
								<li>
									<i class="fa fa-fax"></i>618 603 6035</li>
								<li>
									<i class="fa fa-envelope"></i>info@cavinsa.com</li>
							</ul>
						</div>

					</div>
					<div class="col-md-4 tp-investor-relation">
						<h2>Giros</h2>
						<ul>
							<li>
								<i class="fa fa-angle-double-right"></i>
								<a href="#">Industria Minera</a>
							</li>
							<li>
								<i class="fa fa-angle-double-right"></i>
								<a href="#">Construccion</a>
							</li>
							<li>
								<i class="fa fa-angle-double-right"></i>
								<a href="#">Materiales</a>
							</li>
							<li>
								<i class="fa fa-angle-double-right"></i>
								<a href="#">Transporte</a>
							</li>							
						</ul>
					</div>

					<div class="col-md-4 tp-pages-link">
						<h2>Menú</h2>
						<ul>
							<li>
								<i class="fa fa-angle-double-right"></i>
								<a href="#">Inicio</a>
							</li>
							<li>
								<i class="fa fa-angle-double-right"></i>
								<a href="#">Servicios</a>
							</li>
							<li>
								<i class="fa fa-angle-double-right"></i>
								<a href="#">Catálogo</a>
							</li>
							<li>
								<i class="fa fa-angle-double-right"></i>
								<a href="#">Contacto</a>
							</li>
						</ul>
					</div>					
				</div>
			</div>
		</div>
		<div id="tiny-footer" class="tiny-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<p class="copyright-ct">© 2016 CAVINSA |
						</p>

					</div>
					<div class="col-md-6">
						<ul class="social_media-ft flota_derecho">
							<li>
								<a href="#">
									<i class="fa fa-facebook-square"></i>
								</a>
							</li>
							<li>
								<a href="">
									<i class="fa fa-twitter-square"></i>
								</a>
							</li>
							<li>
								<a href="">
									<i class="fa fa-google-plus-square"></i>
								</a>
							</li>
							<li>
								<a href="">
									<i class="fa  fa-rss-square"></i>
								</a>
							</li>
							<li>
								<a href="">
									<i class="fa  fa-linkedin-square"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script src="/assets/pagina/js/jquery-1.11.1.min.js"></script> 
		<script type="text/javascript" src="/assets/pagina/js/jquery.dataTables.js"></script> 
		<script type="text/javascript" src="/assets/pagina/js/bootstrap.min.js"></script> 
		<script type="text/javascript" src="/assets/pagina/js/owl.carousel.js"></script> 
		<script type="text/javascript" src="/assets/pagina/js/jquery.min.js"></script> 
		<script type="text/javascript" src="/assets/pagina/js/jquery.mobile.customized.min.js"></script> 
		<script type="text/javascript" src="/assets/pagina/js/jquery.easing.1.3.js"></script> 
		<script type="text/javascript" src="/assets/pagina/js/camera.js"></script> 
		<script type="text/javascript" src="/assets/pagina/js/script.js"></script> 
	</body>
</html>
