<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="/assets/pagina/img/favicon.png">
		<title>Realia</title>
		<link href="/assets/pagina/css/bootstrap.min.css" rel="stylesheet">
		<link href="/assets/pagina/css/plugins.css" rel="stylesheet">
		<link href="/assets/pagina/css/color/azul.css" rel="stylesheet">

		<link href="/assets/pagina/fix.css" rel="stylesheet">
		<link href="/assets/pagina/estilo.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
		<link href="/assets/pagina/fonts/icons.css" rel="stylesheet">
	</head>
	<body>
		<div id="cargar_web">
			<div class="carga_texto">Cargando</div>
			<div id="status">
				<div class="rueda"></div>
			</div>
		</div>
		<main class="marco_principal">
			<div class="navbar light">
				<div class="navbar-header">
					<div class="marco_basico">
						<div class="navbar_realia"><img width="250px" src="/assets/pagina/img/logo.png" class="logo-light" alt=""/><img width="100px" src="/assets/pagina/img/logo.png" class="logo-dark" alt=""/>
						</div>
						<a class="btn menu_responsivo" data-toggle="collapse" data-target=".navbar-collapse">
							<i></i>
						</a>
					</div>
				</div>
				<nav class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class=" dropdown">
							<a href="" class="dropdown-toggle js-activated"><%= link_to "Inicio", :controller => "application" %>
								<span class="caret"></span>
							</a>
						</li>
						<li class="dropdown">
							<a href="" class="dropdown-toggle js-activated"><%= link_to "Articulos", :controller => "articulos" %>
								<span class="caret"></span>
							</a>
						</li>
						<li class=" dropdown">
							<a href="" class="dropdown-toggle js-activated"><%= link_to "Acerca de", :controller => "acerca" %>
								<span class="caret"></span>
							</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle js-activated"><%= link_to "Contacto", :controller => "contacto" %>
								<span class="caret"></span>
							</a>
						</li>
					</ul>
				</nav>
				<div class="cuadro_social">
					<ul class="social publico">
						<% if @info.present? %>
						<li>
							<a href="<%= @info['facebook'] %>">
								<i class="icon-s-facebook"></i>
							</a>
						</li>
						<li>
							<a href="<%= @info['twitter'] %>">
								<i class="icon-s-twitter"></i>
							</a>
						</li>
						<% end %>
					</ul>
				</div>
			</div>
			<div class="offset"></div>
			<div class="contenedor_oscuro">
				<div class="container inner">
					<div class="dividir10"></div>
					<div class="carousel_contenedor">
						<div class="carousel carousel_caja blog">
							<% @secciones.each do |item| %>							
								<div class="item post">
									<figure class="main">
										<a href="/secciones_detalles/<%= item['idEspecialDetalle'] %>">
											<img src="<%= item['foto'] %>" alt="" class="imgPostMain"/>
										</a>
									</figure>
									<div class="box centrar_texto box_secciones">
										<div class="categoria cat<%= item['idEspecial'] %>">
											<span>
												<a href="" class="catFix"><%= item.especial.titulo %></a>
											</span>
										</div>
										<h4 class="titulo_post">
											<a href="/secciones_detalles/<%= item['idEspecialDetalle'] %>"><%= item['nombre'] %></a>
										</h4>																				
									</div>
								</div>								
							<% end %>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer cuadro_inverso">
				<div class="container inner">
					<div class="row">
						<div class="col-sm-4"></div>
						<div class="col-sm-4">
							<div class="espacio">
								<h4 class="espacio_titulo">Social Media</h4>
								<ul class="social">
									<% if @info.present? %>
									<li>
										<a href="<%= @info['facebook'] %>">
											<i class="icon-s-facebook"></i>
										</a>
									</li>
									<li>
										<a href="<%= @info['twitter'] %>">
											<i class="icon-s-twitter"></i>
										</a>
									</li>
									<% end %>
								</ul>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="espacio">
								<h4 class="espacio_titulo">Contactanos</h4>
								<p>No dudes en llamarnos o enviarnos un mail.</p>
								<div class="info_contacto">
									<i class="icon-phone"></i>618123456
									<br/>
									<i class="icon-mail"></i>
									<a href="hola@realia.com">realia.com</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="sub-footer">
					<div class="container inner">
						<p class="centrar_texto">© 2016 Realia. Diseño
							<a href="http://www.armedigital.com/">Arme Digital</a>.
						</p>
					</div>
				</div>
			</footer>			
			<%= @secciones.as_json %>
		</main>
		<script src="/assets/pagina/js/jquery.min.js"></script>
		<script src="/assets/pagina/js/bootstrap.min.js"></script>
		<script src="/assets/pagina/js/plugins.js"></script>
		<script src="/assets/pagina/js/classie.js"></script>
		<script src="/assets/pagina/js/jquery.tools.min.js"></script>
		<script src="/assets/pagina/js/scripts.js"></script>
	</body>
</html>
